In [1]:
% pylab inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns # More snazzy plotting library
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

Populating the interactive namespace from numpy and matplotlib

In [2]:
dataset=pd.read_excel('fraud_transaction.xlsx')
dataset.head(2)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,16,CASH_IN,171267.01,C342385813,91788.0,263055.01,C1326285041,130023.06,0.00,0,0
1,13,CASH_OUT,15149.15,C1819823204,158857.0,143707.85,C1828290290,0.00,15149.15,0,0

In [7]:
dataset.shape

(20863, 11)

In [18]:
dataset[dataset['nameDest'].str.startswith('M')].type.value_counts().sum()

6859

In [23]:
dat=dataset.loc[(dataset.type=='TRANSFER')|(dataset.type=='CASH_OUT')]
dat.shape

(9288, 11)

In [30]:
dat.loc[(dat.oldbalanceDest == 0) & (dat.newbalanceDest == 0) & (dat.amount != 0), \
      ['oldbalanceDest', 'newbalanceDest']] = - 1

C:\Users\CHRISTIAN NGOKIO\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [39]:
dat.loc[(dat.oldbalanceOrg == 0) & (dat.newbalanceOrig == 0) & (dat.amount != 0), \
      ['oldbalanceOrg', 'newbalanceOrig']] = np.nan

C:\Users\CHRISTIAN NGOKIO\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s